<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/web/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap" rel="stylesheet">
    <title>ASCII Art Converter</title>
</head>
<body>
    <h1>ASCII Art Converter</h1>
    <div class="container">
        <form id="converter-form" class="form">
            <h2>Input text</h2>
            <textarea type="text" name="input-text" class="input-text" id="input-text" cols="30" rows="10"></textarea>
            <div class="selector">
                <div class="font-selector">
                    <label for="font-select">Select font:</label>
                    <select id="font-select" name="font">
                        <option value="Standart">Standart</option>
                        <option value="Thinkertoy">Thinkertoy</option>
                        <option value="Shadow">Shadow</option>
                    </select>
                </div>
                <button type="submit" id="convert-button">Convert</button>
            </div>
            {{ . }}
        </form>
        <div class="form">
            <h2>Output</h2>
            <textarea type="text" name="input-text" class="input-text" id="output-text" cols="30" rows="10">{{ .ASCIIText }}</textarea>
            <div class="output-buttons">
                <button>Save in file</button>
                <button>Copy result</button>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById("converter-form").addEventListener("submit", function(event) {
    event.preventDefault();
    
    sendData(); 
});

document.getElementById("input-text").addEventListener("input", function(event) {
    sendData(); // Вызываем функцию отправки данных
});

// Слушаем событие input на элементе выбора шрифта
document.getElementById("font-select").addEventListener("input", function(event) {
    sendData(); // Вызываем функцию отправки данных
});

function sendData() {
    var text = document.getElementById("input-text").value;
    var font = document.getElementById("font-select").value;

    var url = "ascii-art";

    var data = {
        text: text,
        font: font
    };

    fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(responseData => {
        var outputElement = document.getElementById("output-text");
        outputElement.textContent = responseData.asciiText;
        console.log(responseData.asciiText);
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
}

</script>
</html>


