* 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #f9f9f9;
    background-image: url('/web/images/bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    size-adjust: 100%;
    flex-direction: column;
}

.container {
    background-color: #1e373c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1366px;
    text-align: center;
    height: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

textarea {
    resize: none;
}


/* -----------------*/

.form {
    min-height: calc(100% / 2);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-text {
    padding: 10px;
    height: 100%;
}

select {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
}

.font-selector {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

/* -----------------*/



.output-text {
    border-radius: 4px;
    background-color: #f9f9f9;
    height: 100%;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

.output-buttons {
    display: flex;
    justify-content: center; 
    padding: 0 5px;
    align-items: center; 
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Добавлено для большей площади клика */
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 5px;
  
}

button:hover {
    background-color: #0056b3;
}

#output-container {
    display: none;
    margin-top: 20px;
}

h2 {
    margin-top: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
